<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <h2 class="title">Admin</h2>
    <mat-list role="list">
      <mat-list-item *ngFor="let item of menuItems" role="listitem" class="list-item"
        (click)="showPage(item)"><mat-icon aria-hidden="false" aria-label="home" [fontIcon]="item.icon" class="list-icon"></mat-icon><span class="list-name">{{item.name}}</span></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content"><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>